.produto{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 8px;
    margin-left: 0;
    margin-inline: 5vw;
    padding-inline: 5vw;
    margin-bottom: 1em;
}